@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:
    local('Rubik'),
    local('Rubik-Regular'),
    url('./rubik-v4-latin-regular.woff2') format('woff2'),
    url('./rubik-v4-latin-regular.woff') format('woff');
}

html {
  height: 100%;
}

body {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  margin: 0;
  padding: 0;
  background: green;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration-skip: ink;
  border-radius: 6px;
}

em {
  font-style: normal;
}

.dark {
  background: #272c32;
  color: #fff;
}

.dark em {
  color: #fadb03;
}

.light a {
  color: #0889d1;
}

.dark a {
  color: #7cbfe5;
}

.dark a:hover {
  background: #4e5b6f;
}

.light {
  background: #f5f5f5;
  color: #34383e;
}

.light em {
  color: #d13787;
}

.light a:hover {
  color: #0069a4;
}

img {
  width: 100%;
}

div.slide-container {
  background-size: 100%;
  display: flex;
  align-items: center;
}

div.slide {
  box-sizing: border-box;
  cursor: pointer;
  cursor: hand;
  padding: 4%;
}

div.imageText {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* normally not good, but ok in context of full screen directional navigation */
:focus {
  outline: 0;
}

body.talk-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.print-mode {
  background: #fff;
  color: #000;
  font-weight: normal;
  padding: 30px 20px;
}

body.print-mode div.sub-container {
  padding: 10px 20px;
  display: flex;
  flex-flow: row wrap;
}

ul.notes-list {
  display: inline-block;
  float: left;
  vertical-align: top;
}

body.print-mode div.slide-container {
  border: 1px solid #000;
}

body.jump-mode {
  padding: 10px;
}

body.jump-mode div.sub-container {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

body.jump-mode div.slide-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

body.jump-mode div.slide-container:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

code {
	background: pink;
}

.preview-number {
	text-shadow: 2px 2px white;
	z-index: 10;
	float: left;
	display: inline-block;
/* 	position: absolute; */
	
}

blockquote {
  font-style: italic;
  border-left: 2px solid #444;
  padding-left: 10px;
  }


.full-width-image {
  position: absolute;
  top: 5px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
}